<div class="container my-5">
  <div class="row">
    <div class="col" *ngFor="let item of originalData">
      <div class="card" style="width: 18rem;">
        <img [src]="" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{item.name}}</h5>
          <h6 class="text-success">{{item.station_id}}</h6>
          <h6 class="text-danger"></h6>
          <p class="card-text"></p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container my-5">
  <div class="row">
    <div class="col">
      <button class="btn btn-primary" (click)="getApiData()">Get Data</button>
    </div>
    <div class="col">
      <button class="btn btn-danger" (click)="clearAll()">Clear Data</button>
    </div>
  </div>
</div>




